/vendor
/node_modules

# Logs
*.log
npm-debug.log
yarn-error.log

# OS / Editor
.DS_Store
Thumbs.db
/.vscode
/.idea
/.fleet
/.zed

# Laravel
/bootstrap/compiled.php
/storage/*.key
/storage/pail
/public/storage
/public/hot
/public/build

# Laravel (old / alt paths)
/app/storage/
/public_html/storage
/public_html/hot

# Env files
.env
.env.backup
.env.production

# Config / local
Homestead.yaml
Homestead.json
/.vagrant
/auth.json
.phpactor.json

# Cache / test
.phpunit.result.cache
/.phpunit.cache

# Optional
/.nova